.about {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about p {
  margin: 20px 0;
  line-height: 1.6;
  max-width: 720px;
  color: rgba(255, 255, 255);
  text-align: left;
}

.about a {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
}
