.post {
  margin-bottom: 2em;
}

.post img {
  min-width: 300px;
  max-width: 600px;
  border-radius: 6px;
}

.post h2 {
  margin-bottom: 0.4em;
}

.post .tags {
  margin-bottom: 1.2em;
  display: flex;
}

.tags p {
  margin-right: 0.5em;
}

.tags span {
  font-weight: bold;
}

.createdBy {
  font-style: italic;
  color: rgba(
    rgb(247, 245, 245),
    rgb(224, 224, 224),
    rgb(250, 250, 250),
    0.8
  );
  margin-bottom: 1em;
}
